
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.recom-button {
  position: fixed;
  bottom: 80px;
  left: 50px;
  right: 50px;
  width: 15%;
  text-align: left;
}

.post-button {
  position: fixed;
  right: 80px;
  bottom: 80px;
  text-align: right;
}